.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}

.light {
    background: #e1ebe7;
}

.light-text {
    color: #343434;
}

.deep {
    background: cadetblue;
}

.deep-text {
    color: darkslategray;
}