
.hw13Block {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    color: darkslateblue;
  }

  .requestBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      font-weight: bold;
    }

    .error {
      font-weight: bold;
      color: #b1276c;
    }
  }
}